@model IEnumerable<WebApplication.Models.Visit>
@{
    ViewBag.Title = "Visits";
}

<div class="filter-form">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-inline"}))
        {
            <div class="form-group">
                <label for="shopId">Select shop:</label>
                @Html.DropDownList("shopId", ViewBag.Shops as SelectList, "", new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.TextBox("date", null, new {@class = "form-control datepicker"})
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-default"/>
            </div>
        }
    </div>
</div>

<div class="row">
    <h3>Visits</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Shop</th>
            <th scope="col">Address</th>
            <th scope="col">Date</th>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Mood</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <th scope="row">@v.Id</th>
                    <td>@v.Shop.Name</td>
                    <td>@v.Shop.Address</td>
                    <td>@v.Date</td>
                    <td>@v.Age</td>
                    <td>@v.Sex</td>
                    <td>@v.Mood</td>
                </tr>
            }
        </tbody>
    </table>
</div>