@{
    ViewBag.Title = "Visits";
}

<div class="row">
    <h3>Visits</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Shop</th>
            <th scope="col">Address</th>
            <th scope="col">Date</th>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Mood</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var v in ViewBag.Visits)
            {
                <tr>
                    <th scope="row">@v.Id</th>
                    <td>@v.Shop.Name</td>
                    <td>@v.Shop.Address</td>
                    <td>@v.Date</td>
                    <td>@v.Age</td>
                    <td>@v.Sex</td>
                    <td>@v.Mood</td>
                </tr>
            }
        </tbody>
    </table>
</div>